/* .add-transaction {
    color: rgb(78, 78, 77);
    text-decoration: none;
    border: 1px solid rgb(96, 94, 94);
    display: flex;
    position: fixed;
    right: 20px;
    top: 15%;
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
}

h1 {
    color: rgb(81, 77, 77);
} */

