


nav {
  
    border: solid 2px black;
    display: flex;
    justify-content: space-between;
   
    padding: 20px 0px 10px 20px;
   

}
a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray
}
ul {
    list-style-type: none;
    display: flex;
    border: 2px solid rgb(114, 113, 113);
    padding: 10px;
    width: 30%;
    border-radius: 10px 10px 10px 10px;
}
a:hover {
    color: gray;

}

.catfood-link {
   
    margin: 5px;
    padding: 5px;


}

.inventory-container {
    color: gray;
    width: 50%;
    margin: 0 auto;
   margin-top: 35px;
   text-align: left;
}

.navbar {
    background-color: aquamarine;

}

.logo-link {
    color: #555050; /* Default color */
    text-decoration: none; 
    padding: 20px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.food-details {
    border: 2px solid red;
    text-align:center;
    

}
